<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuite name="App" >
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">./test</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
        </blacklist>
    </filter>
</phpunit>
